@page "/"
@using System.Timers
@using System.Diagnostics

@code {

    private string[] fruit = { "Ananas", "Apfel", "Banane", "Kirsche", "Orange", "Erdbeere", "Birne", "Tamarind", "Mandarine", "Quitte", "Zwetschge", "Waaahlnuss" };
    private List<string> suggestions = new List<string>();
    private Stopwatch inputTimer = new Stopwatch();
    private string searchText = "";
    private void OnInput(ChangeEventArgs e)
    {
        if (e.Value.ToString().Length >= 3)
        {
            if (inputTimer.IsRunning)
            {
                inputTimer.Reset();
            }
            inputTimer.Start();
   
    //    inputTimer.Reset();
    // Während Elapsed kleiner 300 mach nix
            while (inputTimer.ElapsedMilliseconds < 3000)
            {
            
            }
            inputTimer.Reset();
            var input = e.Value.ToString().ToLower();

            if (string.IsNullOrWhiteSpace(input))
            {
                suggestions.Clear();
                return;
            }

            suggestions = fruit.Where(option => option.ToLower().Contains(input)).ToList(); 

        }
        else
        {
            var input = e.Value.ToString().ToLower();

            if (string.IsNullOrWhiteSpace(input))
            {
                suggestions.Clear();
                return;
            }

            suggestions = fruit.Where(option => option.ToLower().Contains(input)).ToList();
        }


        return;



    }

    private void Choose(string suggestion)
    {
        searchText = suggestion;
        suggestions.Clear();
    }
}

<PageTitle>Autovervollständigungsdings</PageTitle>

<input @bind="searchText" @oninput="OnInput" />

<ul>
    @foreach (var suggestion in suggestions)
    {
        <li @onclick="() => Choose(suggestion)">@suggestion</li>
    }
</ul>
